ROBINHOOD_CHAIN_MAINNET_RPC_URL=https://rpc.mainnet.chain.robinhood.com
ROBINHOOD_CHAIN_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
ROBINHOOD_CHAIN_MAINNET_CHAIN_ID=4663
ROBINHOOD_CHAIN_TESTNET_CHAIN_ID=46630
NEXT_PUBLIC_GACHA_CHAIN_MODE=testnet
NEXT_PUBLIC_GACHA_DEPLOYMENT_REGISTRY=demo
NEXT_PUBLIC_GACHA_ENABLE_ADMIN=true
NEXT_PUBLIC_GACHA_RPC_URL=https://rpc.testnet.chain.robinhood.com
